<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	 <connectionStrings>
    <add name="GOSOHotelDB"
         connectionString="Data Source=DESKTOP-R44I0LV\SQLEXPRESS;Initial Catalog=GOSOHotel;Integrated Security=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>